// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.hipster {
    display: block;
    height: 350px;
    background: url(https://image.vikatan.com/news/2016/03/19/images/Natham+viswanathan350.jpg) no-repeat center top;
    background-size: contain;
    border-radius: 5%;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hipster {
    background: url("https://image.vikatan.com/news/2016/03/19/images/Natham+viswanathan350.jpg") no-repeat center top;
    background-size: contain;
  }
}

.party-font {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 7px 0;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(0deg, #ff0000 46%, #ffffff 27%, #000000 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    text-align: center;
    justify-content: center;
}

.center{
text-align:center;
}

.menu-h{
    font-size: 1.5rem;
    font-weight: bold;
    color: #00b3ee;
}

ion-card-title{
color:#fff !important;
}

ion-card{
    background-color: #1da1f2 !important;
    border-radius: 10px !important;
    margin: 0px !important;
    margin-bottom: 10px !important;
    width: auto !important;
}